.card {
  display: flex;
  padding: 0px 20px;
  position: relative;
}

.conteiner-text {
  padding-right: 12rem;
  /* background-color: gold; */
}
.conteiner-area-description {
}
.area-description {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-right: -8rem;
}

.conteiner-area-description h3 {
  color: #19a7ce;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
}
.conteiner-area-description h2 {
  color: #19a7ce;
  font-size: 2rem;
  margin: 0;
  font-family: sans-serif;
  margin-bottom: 2rem;
}
.conteiner-area-description p {
  color: #b0daff;
  margin: 0;
  font-size: 1.3rem;
}
.sterilized-dynamic {
  background-color: #146c94;
  padding: 1.7rem 1.1rem;
  border-radius: 15px;
  line-height: 1.6;
}

.area-briefcase {
  /* background-color: yellow; */
  position: relative;
  z-index: 1;
  max-width: 735px;
  max-height: 437px;
}
.area-briefcase img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container-icons-languages {
  padding-top: 20px;
}

.display-conteiner-description {
  position: relative;
  /* background-color: red; */
  margin-right: -100px;
}

.area-briefcase {
  position: relative;
  z-index: 1;
  max-width: 735px;
  max-height: 437px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: aliceblue;
  box-shadow: 1px red;
  border: 2px solid #a7a7a769;
  box-shadow: 0 2px 18px 0 rgb(0 0 0 / 29%);
  box-shadow: 1px solid;
}

.area-briefcase img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 1s;
}

.area-briefcase:hover {
  -webkit-transform: scale(1.02);
  transition: 1s;
}
.area-briefcase a::after {
  position: absolute;
  content: "";
  /* width: 100px; */
  /* height: 100px; */
  background: #00000066;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 12;
  opacity: 0;
  transition: opacity 2s;
}

.area-briefcase a:hover::after {
  opacity: 1;
}

.area-briefcase a {
  transition: opacity 3s;
}

.icon-link {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.area-briefcase:hover .icon-link {
  opacity: 1;
}
