.card {
  display: flex;
  padding: 0px 20px;
  position: relative;
  margin-bottom: 98px;
}

.conteiner-text {
  margin-bottom: 2rem;
  /* background-color: gold; */
}
.conteiner-area-description {
}
.area-description {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-right: -8rem;
}

.conteiner-area-description h3 {
  color: var(--main-bg-color-primay);
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
}
.conteiner-area-description h2 {
  color: var(--main-bg-color-primay);
  font-size: 2rem;
  margin: 0;
  font-family: sans-serif;
}
.conteiner-area-description p {
  color: #fff;
  margin: 0;
  font-size: 1.1rem;
  font-family: saira;
}
.sterilized-dynamic {
  background-color: var(--main-bg-color-primay);
  padding: 1.7rem 1.1rem;
  border-radius: 15px;
  line-height: 1.6;
}

.area-briefcase img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container-icons-languages {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.display-conteiner-description {
  position: relative;
  /* background-color: red; */
  margin-right: -100px;
}

.area-briefcase {
  position: relative;
  z-index: 1;
  max-width: 735px;
  max-height: 437px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: aliceblue;
  box-shadow: 1px red;
  border: 3px solid #a7a7a7;
  box-shadow: 0 2px 18px 0 rgb(0 0 0 / 35%);
  box-shadow: 1px solid;
  transition: 1s;
}

.area-briefcase img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 1s;
}

.area-briefcase:hover {
  -webkit-transform: scale(1.02);
}
.area-briefcase a::after {
  position: absolute;
  content: "";
  /* width: 100px; */
  /* height: 100px; */
  background: #00000066;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 12;
  opacity: 0;
  transition: opacity 2s;
}

.area-briefcase a:hover::after {
  opacity: 1;
}

.area-briefcase a {
  transition: opacity 3s;
}

.icon-link {
  position: absolute;
  z-index: 13;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  color: white;
}

.area-briefcase a:hover .icon-link {
  opacity: 1;
}

/* card reverse projects */

.card-reverse {
  display: flex;
  padding: 0px 20px;
  position: relative;
  margin-bottom: 156px;
}

.area-briefcase-reverse {
  position: relative;
  z-index: 1;
  max-width: 735px;
  max-height: 437px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: aliceblue;
  box-shadow: 1px red;
  border: 3px solid #a7a7a7;
  box-shadow: 0 2px 18px 0 rgb(0 0 0 / 35%);
  box-shadow: 1px solid;
  transition: 1s;
}

.area-briefcase-reverse img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 1s;
}

.area-briefcase-reverse:hover {
  -webkit-transform: scale(1.02);
}
.area-briefcase-reverse a::after {
  position: absolute;
  content: "";
  /* width: 100px; */
  /* height: 100px; */
  background: #00000066;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 12;
  opacity: 0;
  transition: opacity 2s;
}

.area-briefcase-reverse a:hover::after {
  opacity: 1;
}
.area-briefcase-reverse a {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 3s;
  display: block;
}

.icon-link-reverse {
  position: absolute;
  z-index: 13;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  color: white;
}

.area-briefcase-reverse a:hover .icon-link-reverse {
  opacity: 1;
}

.area-description-reverse {
  position: relative;
  z-index: 2;
  width: 100%;
}

.display-conteiner-description-reverse {
  position: relative;
  /* background-color: red; */
  margin-left: -229px;
}

.conteiner-text-reverse {
  margin-bottom: 2rem;
}

.conteiner-area-description-reverse h2 {
  color: var(--main-bg-color-primay);
  justify-content: end;
  font-size: 2rem;
  margin: 0;
  font-family: sans-serif;
  display: flex;
}

.conteiner-area-description-reverse h3 {
  color: var(--main-bg-color-primay);
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: end;
  /* margin-left: 13rem; */
}

.conteiner-area-description-reverse p {
  color: #fff;
  margin: 0;
  font-size: 1.1rem;
  text-align: left;
  font-family: saira;
}

.sterilized-dynamic-reverse {
  background-color: var(--main-bg-color-primay);
  padding: 1.7rem 1.1rem;
  border-radius: 15px;
  line-height: 1.6;
  text-align: end;
}

.container-icons-languages-reverse {
  justify-content: end;
  display: flex;
  margin-top: 20px;
  gap: 10px;
  padding-left: 14rem;
}

/* Styles icons tecgnologyas */
.technologies-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-icon {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;

  box-shadow: 0 0 10px #0000005d;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 8px;
  top: calc(100% + 0.5rem);
  opacity: 0;
  transition: opacity 0.3s ease;
  transition: transform 1s ease;

  background: var(--main-bg-color-primay);

  color: #fff;
  font-family: saira;
}

.technologies-icon:hover .event-icon {
  opacity: 1;
  transform: scale(1.1);
}

.technologies-icon:hover .event-icon {
  opacity: 1;
}

:has(> .event-icon) {
  position: relative;
}

:has(> .event-icon):hover .event-icon {
  opacity: 1;
}

.container-icons-languages img:hover {
  -webkit-transform: scale(0.7);
  transition: 1s;
}
.container-icons-languages img {
  transition: 1s;
}

/* Styles icons tecgnologyas reverse */
.technologies-icon-reverse {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-icon-reverse {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;

  box-shadow: 0 0 10px #0000005d;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 8px;
  top: calc(100% + 0.5rem);
  opacity: 0;
  transition: opacity 0.3s ease;
  transition: transform 1s ease;

  background: var(--main-bg-color-primay);

  color: #fff;
  font-family: saira;
}

.technologies-icon-reverse:hover .event-icon-reverse {
  opacity: 1;
  transform: scale(1.1);
}

.technologies-icon-reverse:hover .event-icon-reverse {
  opacity: 1;
}

:has(> .event-icon-reverse) {
  position: relative;
}

:has(> .event-icon-reverse):hover .event-icon-reverse {
  opacity: 1;
}

.container-icons-languages-reverse img:hover {
  -webkit-transform: scale(0.7);
  transition: 1s;
}

.container-icons-languages-reverse img {
  transition: 1s;
}

.container-icons-languages-reverse img::after {
  position: absolute;
  content: "";
}
.conteiner-text {
  display: block;
}
/* reponsive Projects  */

@media screen and (max-width: 1135px) {
  .conteiner-text {
    display: block;
  }
  .conteiner-area-description h3 {
    font-size: 1.5rem;
  }
  .conteiner-area-description h2 {
    font-size: 1.9rem;
  }

  .area-briefcase {
    max-width: 700px;
  }
  .area-description {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 1094px) {
  .area-briefcase {
    max-width: 650px;
  }
  .area-description {
    padding-left: 1.6rem;
  }
}

@media screen and (max-width: 1053px) {
  .area-briefcase {
    max-width: 650px;
  }
  .area-description {
    padding-left: 1.6rem;
  }
  .conteiner-area-description h3 {
    font-size: 1.5rem;
  }
  .conteiner-area-description h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1035px) {
  .area-briefcase {
    max-width: 630px;
  }
}
@media screen and (max-width: 1011px) {
  .conteiner-area-description h3 {
    font-size: 1.5rem;
  }
  .conteiner-area-description h2 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 994px) {
  .area-briefcase {
    max-width: 620px;
  }
  .conteiner-area-description p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 984px) {
  .conteiner-area-description h2 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 972px) {
  .area-briefcase {
    max-width: 610px;
  }
}
@media screen and (max-width: 964px) {
  .conteiner-area-description h2 {
    font-size: 1.5rem;
  }
  .conteiner-area-description h3 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 943px) {
  .area-briefcase {
    max-width: 600px;
  }
}

@media screen and (max-width: 933px) {
  .area-briefcase {
    max-width: 590px;
  }
}

@media screen and (max-width: 927px) {
  .area-briefcase {
    max-width: 580px;
  }
}

@media screen and (max-width: 927px) {
  .area-briefcase {
    max-width: 560px;
  }
}

@media screen and (max-width: 889px) {
  .conteiner-text h3 {
    display: none;
  }
  .conteiner-text {
    margin: 0;
    align-items: center;
    text-align: center;
    display: grid;
    background-color: rgb(255 255 255);
    height: 2rem;
    padding: 0.5rem;
    border-radius: 8px;
    width: 35%;
    margin: auto;
    border: 3px solid #ffffff;
    /* box-shadow: 0 0px 18px 0 rgb(0 119 255); */
    box-shadow: 0px 0px 0px hwb(0deg 100% 0%), 2px 2px 0px hsl(0deg 0% 91%),
      3px 3px 0px hsl(0deg 0% 81%), 4px 4px 0px hsl(0deg 0% 69%),
      5px 5px 0px hsl(0, 0%, 41%);
    position: relative;
    top: 14px;
  }
  .conteiner-text:hover {
    background-color: rgb(0 119 255);
  }
  .conteiner-text h2:hover {
    color: #fff;
  }
  /*  */
  .container-icons-languages {
    padding: 0;
  }

  .card {
    flex-direction: column;
    margin-bottom: 58px;
    padding: 0;
  }

  .area-description {
    order: 2;
    padding: 0;
    margin-top: -6rem;
  }

  .area-briefcase {
    order: 1;
    margin: auto;
    max-width: 700px;
  }

  .container-icons-languages {
    display: flex;
  }
  .display-conteiner-description {
    margin: 0;
  }
  .container-icons-languages {
    justify-content: center;
  }
  .sterilized-dynamic {
    margin: 0px 2rem;
  }
}
/* resposive 800 new */

@media screen and (max-width: 800px) {
  .conteiner-area-description h2 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 731px) {
  .conteiner-area-description h2 {
    font-size: 1.4rem;
  }
  .conteiner-text {
    width: 38%;
  }
}
@media screen and (max-width: 667px) {
  .conteiner-area-description h2 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 672px) {
  .conteiner-area-description p {
    font-size: 0.9rem;
  }
  .sterilized-dynamic {
    padding: 1rem 1.1rem;
  }
  .card {
    margin-bottom: 58px;
  }
  .conteiner-text {
    top: 9px;
  }
}

@media screen and (max-width: 625px) {
  .area-description {
    margin-top: -7rem;
  }
  .conteiner-area-description h2 {
    font-size: 1.2rem;
  }
  .conteiner-text {
    top: 9px;
  }
}

/* cambio separacion*/
@media screen and (max-width: 572px) {
  .conteiner-area-description h2 {
    font-size: 1.1rem;
  }
  .conteiner-text {
    height: 1.7em;
    width: 41%;
  }
}

/*  */
@media screen and (max-width: 563px) {
  .conteiner-area-description p {
    font-size: 0.8rem;
  }
  .sterilized-dynamic {
    padding: 1rem 1.1rem;
  }
  .container-icons-languages img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 538px) {
  .conteiner-area-description p {
    font-size: 0.7rem;
  }
}

/* cambio separacion*/
@media screen and (max-width: 536px) {
  .conteiner-area-description h2 {
    font-size: 1rem;
  }
  .conteiner-text {
    height: 1.5rem;
    width: 41%;
  }
}
/* cambio separacion*/
@media screen and (max-width: 490px) {
  .conteiner-area-description h2 {
    font-size: 0.9rem;
  }
  .conteiner-text {
    height: 1rem;
    width: 41%;
  }

  .area-description {
    margin-top: -6.1rem;
  }
}

@media screen and (max-width: 454px) {
  .conteiner-area-description h2 {
    font-size: 0.8rem;
  }
  .area-description {
    margin-top: -5rem;
  }
}

/* cambio separacion*/
@media screen and (max-width: 474px) {
  .conteiner-area-description h2 {
    font-size: 0.8rem;
  }
  .conteiner-text {
    height: 0.9rem;
    width: 41%;
  }
  .conteiner-area-description p {
    font-size: 0.6rem;
  }
  .card {
    margin-bottom: 63px;
  }
}

@media screen and (max-width: 441px) {
  .container-icons-languages img {
    width: 30px;
    height: 30px;
  }
}
/* cambio separacion*/
@media screen and (max-width: 425px) {
  .container-icons-languages img {
    width: 30px;
    height: 30px;
  }
  .conteiner-area-description p {
    font-size: 0.7rem;
  }
  .sterilized-dynamic {
    margin: 0px 1rem;
    padding: 0.7rem 1rem;
  }

  .container-icons-languages {
    margin-top: 11px;
  }

  .conteiner-text {
    top: 6px;
  }
}
/* cambio separacion*/
@media screen and (max-width: 396px) {
  .conteiner-area-description p {
    font-size: 0.5rem;
  }
  .conteiner-area-description h2 {
    font-size: 0.7rem;
  }
  @media screen and (max-width: 395px) {
    .conteiner-area-description p {
      font-size: 0.6rem;
    }
    .conteiner-text {
      height: 0.6rem;
    }
    .area-description {
      margin-top: -4rem;
    }
  }
}

@media screen and (max-width: 355px) {
  .conteiner-area-description p {
    font-size: 0.5rem;
  }
}

/* cambios */

/* reponsive Projects reverse */

@media screen and (max-width: 1135px) {
  .conteiner-text-reverse {
    display: block;
  }
  .conteiner-area-description-reverse h3 {
    font-size: 1.5rem;
  }
  .conteiner-area-description-reverse h2 {
    font-size: 1.9rem;
  }

  .area-briefcase-reverse {
    max-width: 700px;
  }
  .area-description-reverse {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 1094px) {
  .area-briefcase-reverse {
    max-width: 650px;
  }
  .area-description-reverse {
    padding-left: 1.6rem;
  }
}

@media screen and (max-width: 1053px) {
  .area-briefcase-reverse {
    max-width: 650px;
  }
  .area-description-reverse {
    padding-left: 1.6rem;
  }
  .conteiner-area-description-reverse h3 {
    font-size: 1.5rem;
  }
  .conteiner-area-description-reverse h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1035px) {
  .area-briefcase-reverse {
    max-width: 630px;
  }
}
@media screen and (max-width: 1011px) {
  .conteiner-area-description-reverse h3 {
    font-size: 1.5rem;
  }
  .conteiner-area-description-reverse h2 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 994px) {
  .area-briefcase-reverse {
    max-width: 620px;
  }
  .conteiner-area-description-reverse p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 984px) {
  .conteiner-area-description-reverse h2 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 972px) {
  .area-briefcase-reverse {
    max-width: 610px;
  }
}
@media screen and (max-width: 964px) {
  .conteiner-area-description-reverse h2 {
    font-size: 1.5rem;
  }
  .conteiner-area-description-reverse h3 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 943px) {
  .area-briefcase-reverse {
    max-width: 600px;
  }
}

@media screen and (max-width: 933px) {
  .area-briefcase-reverse {
    max-width: 590px;
  }
}

@media screen and (max-width: 927px) {
  .area-briefcase-reverse {
    max-width: 580px;
  }
}

@media screen and (max-width: 927px) {
  .area-briefcase-reverse {
    max-width: 560px;
  }
}
@media screen and (max-width: 889px) {
  .conteiner-text-reverse h3 {
    display: none;
  }
  .conteiner-text-reverse h2 {
    display: inline-flex;
  }
  .conteiner-text-reverse {
    justify-content: space-around;
    align-items: center;
    display: grid;
    margin: 0;
    text-align: center;
    background-color: rgb(255 255 255);
    height: 2rem;
    padding: 0.5rem;
    border-radius: 8px;
    width: 43%;
    margin: auto;
    border: 3px solid #ffffff;
    /* box-shadow: 0 0px 18px 0 rgb(0 119 255); */
    box-shadow: 0px 0px 0px hwb(0deg 100% 0%), 2px 2px 0px hsl(0deg 0% 91%),
      3px 3px 0px hsl(0deg 0% 81%), 4px 4px 0px hsl(0deg 0% 69%),
      5px 5px 0px hsl(0, 0%, 41%);
    position: relative;
    top: 14px;
  }
  /*  */
  .container-icons-languages-reverse {
    padding: 0;
  }

  .card-reverse {
    flex-direction: column;
    margin-bottom: 58px;
    padding: 0;
  }

  .area-description-reverse {
    order: 2;
    padding: 0;
    margin-top: -6rem;
  }

  .area-briefcase-reverse {
    order: 1;
    margin: auto;
    max-width: 700px;
  }

  .container-icons-languages-reverse {
    display: flex;
  }
  .display-conteiner-description-reverse {
    margin: 0;
  }
  .container-icons-languages-reverse {
    justify-content: center;
  }
  .sterilized-dynamic-reverse {
    margin: 0px 2rem;
  }
}

@media screen and (max-width: 800px) {
  .conteiner-area-description-reverse h2 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 731px) {
  .conteiner-area-description-reverse h2 {
    font-size: 1.4rem;
  }
  .conteiner-text {
    width: 38%;
  }
}

@media screen and (max-width: 672px) {
  .conteiner-area-description-reverse p {
    font-size: 0.9rem;
  }
  .sterilized-dynamic-reverse {
    padding: 1rem 1.1rem;
  }
  .card-reverse {
    margin-bottom: 58px;
  }
  .conteiner-text-reverse {
    top: 9px;
  }
}

@media screen and (max-width: 667px) {
  .conteiner-area-description-reverse h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 624px) {
  .conteiner-text-reverse {
    width: 43%;
  }
}

@media screen and (max-width: 572px) {
  .conteiner-area-description-reverse h2 {
    font-size: 1.1rem;
  }
  .conteiner-text-reverse {
    padding: 0.2rem 0.5rem;
  }
}

@media screen and (max-width: 563px) {
  .conteiner-area-description-reverse p {
    font-size: 0.8rem;
  }
  .sterilized-dynamic-reverse {
    padding: 1rem 1.1rem;
  }
  .container-icons-languages-reverse img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 538px) {
  .conteiner-area-description-reverse p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 494px) {
  .conteiner-area-description-reverse h2 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 454px) {
  .conteiner-area-description-reverse h2 {
    font-size: 0.8rem;
  }
  .area-description-reverse {
    margin-top: -5rem;
  }
}

@media screen and (max-width: 474px) {
  .conteiner-area-description-reverse p {
    font-size: 0.6rem;
  }
  .card-reverse {
    margin-bottom: 63px;
  }
}

@media screen and (max-width: 441px) {
  .container-icons-languages-reverse img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 425px) {
  .container-icons-languages-reverse img {
    width: 30px;
    height: 30px;
  }
  .conteiner-area-description-reverse p {
    font-size: 0.7rem;
  }
  .sterilized-dynamic-reverse {
    margin: 0px 1rem;
    padding: 0.7rem 1rem;
  }

  .container-icons-languages-reverse {
    margin-top: 11px;
  }
  .conteiner-text-reverse {
    padding: 0rem 0.5rem;
  }
  .area-description-reverse {
    margin-top: -4rem;
  }
  .conteiner-text-reverse {
    top: 5px;
  }
}

@media screen and (max-width: 395px) {
  .conteiner-area-description-reverse p {
    font-size: 0.6rem;
  }
  .conteiner-text-reverse {
    height: 1.5rem;
  }

  .area-description-reverse {
    margin-top: -4rem;
  }
}

@media screen and (max-width: 355px) {
  .conteiner-area-description-reverse p {
    font-size: 0.5rem;
  }
}

/* cambios */
